<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>Nombre: Alejandro Iborra</p>
    <p>Año: 2023</p>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left">
      Votomatón
    </ion-title>
    <ion-img src="assets/icon/popcorn.png"></ion-img>
  </ion-toolbar>
</ion-header>
